@import "base"
.article
	color: #363636
	font-size: 14px*$k
	+fboo
	p
		margin-bottom: 16px*$k
	div
		margin-top: 60px*$k
		+column-count(2)
		+column-gap(4rem)
.img-group
	margin-top: 130px*$k
	a
		float: left
	img
		display: block