@import "base"
.l-col-3
	float: left
	padding-left: 16px
	width: 33%
	+box
	&:first-child
		padding-left: 0
.l-col-3_fixed-height
	position: relative
	height: 330px
	+box
	padding-bottom: 53px
	.btn-submit
		position: absolute
		bottom: 0
		left: 0
.checkout
	.list
		margin-bottom: 27px
		font-size: 10px
	.btn-fb
		margin-bottom: 30px
.checkout__title
	margin-bottom: 34px
	padding-bottom: 7px
	font-size: 16px
	border-bottom: 2px solid          
.checkout__descr
	margin-bottom: 13px
	font-size: 12px             

.to-center
	text-align: center