@import "base"
.checkout-wrap
	margin-bottom: 134px
.l-col-3
	float: left
	padding-left: 16px
	width: 33%
	+box
	&:first-child
		padding-left: 0
.l-col-3_fixed-height
	position: relative
	height: 345px
	+box
	padding-bottom: 53px
	&:first-child
		.btn-submit
			left: 0
	.btn-submit
		position: absolute
		bottom: 0
		left: 16px
.checkout
	.list
		margin-bottom: 27px
		font-size: 10px
	.btn-fb
		margin-bottom: 10px
	.input-wrap
		width: 240px
		margin-bottom: 10px
	.input-big
		width: 100%
		border: 1px solid rgba(237,237,237,.39)
	.btn-submit,
	.btn-fb
		width: 240px
		+box
	.to-center
		margin: 5px 0 10px
.checkout__title
	margin-bottom: 34px
	padding-bottom: 7px
	font-size: 16px
	border-bottom: 2px solid          
.checkout__descr
	margin-bottom: 13px
	font-size: 12px             

.to-center
	text-align: center

.step
	position: relative
	margin: 44px 0 60px
	height: 40px
	&:after
		content: ""
		position: absolute
		top: 50%
		margin-top: -4px
		left: 0
		right: 0
		height: 8px
		z-index: 1
		border-radius: 20px  
		background: #f5f5f5
		box-shadow: inset 2px 1px 2px #ebebeb
		 
.step__count
	position: absolute
	width: 40px
	height: 40px
	z-index: 2
	text-align: center
	line-height: 40px
	font-size: 0
	border-radius: 50%
	background: #f5f5f5
	text-shadow: 1px 1px 1px #fff
	box-shadow: inset 2px 1px 2px #ebebeb   
	i
		display: inline-block
		vertical-align: middle
		width: 34px
		font-size: 18px
		height: 34px
		line-height: 34px
		border-radius: 50%
		font-style: normal
		background: #dbe2d0
	span
		position: absolute
		top: 37px
		width: 100px
		text-align: left
		font-size: 12px

.step__1
	left: 0
	span
		left: 0
.step__2
	left: 50%
	margin-left: -20px 
	span
		left: 50%
		margin-left: -50px
		text-align: center
.step__3
	right: 0
	span
		right: 0
		text-align: right
.list_block
	li
		float: none
		width: 100%