@import "base"
.main
	padding-bottom: 65px
	background: #f5f5f5 
	overflow: hidden
	.title
		position: relative
		z-index: 10
.m-slider	
	position: relative
	margin-bottom: -150px
	text-align: center
	z-index: 2
.m-slider__el
	height: 655px
	+cover
	line-height: 540px
.m-slider__middle
	display: inline-block
	vertical-align: middle
	color: #fff
.m-slider__title 
	max-width: 800px
	border-bottom: 2px solid #F3FAEC
	font-size: 82px
	line-height: 1.1 
.m-slider__title-sub
	padding-top: 10px
	font-size: 24px
	line-height: 1.2
.m-slider__arr
	position: absolute
	bottom: 0
	left: 50%
	width: 1920px
	height: 300px
	margin-left: -960px
	background: url(../img/arr-white.png) no-repeat 0 0
.m-slider__prev, .m-slider__next
	position: absolute
	top: 180px
.m-slider__next
	right: 50%
	margin-right: -640px
	+s(m-slider-next)
.m-slider__prev
	left: 50%
	margin-left: -640px
	+s(m-slider-prev)
.m-block
	position: relative
	height: 1000px
.m-block__text
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	span
		display: inline-block
		vertical-align: middle
		font-size: 72px
		color: #fff
		line-height: 1
.m-block__item
	position: absolute
	top: 0
	line-height: 540px
	text-align: center
.m-block__item_1
	left: 50px
	width: 400px
	height: 400px
	line-height: 400px
.m-block__item_2
	position: absolute
	top: 90px
	left: 430px
	width: 540px
	height: 540px
.m-block__item_3
	position: absolute
	top: 460px
	left: 0
	width: 540px
	height: 540px
.m-block__item_4
	position: absolute
	top: 500px
	left: 630px
	width: 440px
	height: 440px
	line-height: 440px
.m-block__mail
	position: absolute
	top: 40px
	right: 10px
	width: 180px
	height: 140px
	padding: 40px 50px 0
	background: $gr
	text-align: center
	z-index: 10
	label
		display: block
		font-size: 24px
		font-weight: bold
		color: #595957
	input
		width: 180px
		height: 40px
		margin-bottom: 10px
		border-bottom: 2px solid #595957
		background: none
		font-size: 16px
	button
		font-size: 12px
		color: #595957

.inst
	position: relative
	height: 730px
	padding: 30px 0 285px
	margin: 30px 0 -100px
	background: #f5f5f5
	overflow: hidden
	.title
		margin-top: 0
.inst__logo
	position: absolute
	top: 410px
	right: 50%
	margin-right: 70px
	width: 530px
	height: 170px
	background: #fff
	text-align: center
	font-size: 60px
	line-height: 170px
	font-weight: bold
	color: #F1CDA6
.inst__arr
	position: absolute
	bottom: 0
	left: 50%
	width: 1920px
	height: 300px
	margin-left: -960px
	background: url(../img/arr-white-left.png) no-repeat 0 0
.inst__block
	position: absolute
	width: 300px
	height: 300px
.inst__block_1
	top: 140px
	left: 50%
.inst__block_2
	top: 440px
	left: 50%
.inst__block_3
	top: 180px
	left: 50%
	margin-left: 250px
.inst__block_4
	top: 140px
	left: 50%
	margin-left: 550px
.inst__block_5
	top: 380px
	left: 50%
	margin-left: 230px
.inst__block_6
	top: 205px
	right: 50%
.inst__block_7
	top: 205px
	right: 50%
	margin-right: 300px
.inst__block_8
	top: 390px
	right: 50%
	margin-right: 190px
.inst__block_9
	top: 90px
	right: 50%
	margin-right: 480px
.inst__block_10
	top: 390px
	right: 50%
	margin-right: 600px















