@import "base"
.overlay
	display: none
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 5000
	background: $brown 
.popup-wrap
	display: none
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	padding: 70px 
	z-index: 10000
.popup
	position: relative
	width: 1080px*$k
	padding: 43px*$k 0 70px*$k
	margin: 0 auto
	background: #fff
	.gallery
		padding-left: 50px*$k
		width: 600px*$k
		+box 
	.item-info
		padding-right: 10px*$k
	.gallery__prev,
	.gallery__next
		position: absolute
		top: 50%
		margin-top: -76px*$k
	.gallery__prev
		left: -120px*$k
		+s(m-slider-prev)
	.gallery__next
		right: -120px*$k
		+s(m-slider-next)
.popup__close
	position: absolute
	top: 9px*$k
	right: 9px*$k
	+s(close)
.popup__link
	position: absolute
	right: 10px*$k
	bottom: 15px*$k  
	font-size: 12px*$k
	text-decoration: underline
	
.popup_small
	margin-left: -410px*$k
	padding: 0 40px*$k 50px*$k 60px*$k 
	width: 820px*$k
	+box
	background: url(../img/popup-bg.png) 0 0 no-repeat
	+background-size(100%,100%) 
	.input-wrap
		margin-bottom: 13px*$k
	.input-wrap_fb
		margin-bottom: 6px*$k
	a
		display: inline-block
		margin-left: 20px*$k
		font-size: 11px*$k
		text-decoration: underline
.input-big
	padding: 0 20px*$k 
	width: 300px*$k
	height: 60px*$k
	background: #fff
	font-size: 14px*$k 
	+box
.popup__title
	margin-bottom: 19px*$k
	font-size: 25px*$k

.popup__top
	padding-top: 54px*$k
	text-align: center
	p
		font-size: 12px*$k
		color: #373737 
		line-height: 1.2
.popup__logo
	display: inline-block
	margin-bottom: 50px*$k
	+s(logo-popup)
.popup__logo_mod
	margin-bottom: 10px*$k
.btn-submit
	position: relative
	display: block
	padding-left: 30px*$k
	width: 300px*$k
	+box 
	height: 70px*$k
	line-height: 70px*$k  
	text-align: left
	background: #e2bc90 
	+transition(background .2s linear)
	&:after
		content: ""
		position: absolute
		margin-top: -7px*$k
		top: 50%
		right: 30px*$k
		+s(arr1) 
	&:hover
		background: #e9af6e 

.input-wrap_fb
	.btn-submit,
	span  
		vertical-align: middle
		display: inline-block
	span
		font-size: 11px*$k
	.btn-fb
		margin-left: 37px*$k
	.btn-submit
		margin-right: 37px*$k
.btn-fb
	position: relative
	width: 300px*$k 
	height: 70px*$k
	line-height: 70px*$k
	text-align: left
	+box
	display: inline-block
	background: #38599a 
	vertical-align: middle
	span, i
		display: inline-block
		vertical-align: middle
	i
		margin: 0 45px*$k 0 30px*$k 
		+s(btn-fb)
	span
		font-size: 14px*$k
		color: #fff 
		margin: 0

.popup__email
	font-size: 10px*$k
	.input-wrap
		position: relative
		width: 300px*$k
		margin: 50px*$k auto 0 
		.btn-submit
			padding: 0
			text-align: center
			width: 100px*$k
			position: absolute
			right: 0
			top: 0
			height: 60px*$k
			line-height: 60px*$k
			&:after
				display: none
	a
		margin-left: 0 
	.btn-fb
		margin: 34px*$k 0 10px*$k
		height: 60px*$k
		line-height: 60px*$k
		
.popup-cart
	padding: 55px*$k 60px*$k 
.popup-cart__img
	float: left
	margin-right: 20px*$k
.popup-cart__main
	padding-top: 50px*$k
	overflow: hidden
	.popup-cart__title1
		text-align: left
.popup-cart__title1
	margin-bottom: 2px
	font-size: 25px*$k
	text-align: center
.popup-cart__title2
	margin-bottom: 7px*$k
	font-size: 20px*$k
.popup-cart__meta
	font-size: 12px*$k
.popup-cart__body
	margin-bottom: 45px*$k
	+clr
.popup-cart__action
	margin-top: 44px*$k
	+clr
	.to-basket
		float: left
		width: 300px*$k
		text-align: left
		text-decoration: none
		font-size: 14px*$k
	.btn-submit
		text-decoration: none
		float: right
		background: #dfe6d4 
		font-size: 14px*$k
		+transition(background .2s linear)
		&:hover
			background: #e1e1e1 