@font-face { font-family: "Gotham-Medium"; src: url("../fonts/Gotham-Medium.eot"); src: url("../fonts/Gotham-Medium.eot") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff") format("woff"); }

@font-face { font-family: "Gotham-XLightItalic"; src: url("../fonts/Gotham-XLightItalic.eot"); src: url("../fonts/Gotham-XLightItalic.eot") format("embedded-opentype"), url("../fonts/Gotham-XLightItalic.woff") format("woff"); }

@font-face { font-family: "Gotham-Book"; src: url("../fonts/Gotham-Book.eot"); src: url("../fonts/Gotham-Book.eot") format("embedded-opentype"), url("../fonts/Gotham-Book.woff") format("woff"); }

.main { padding-bottom: 65px; background: whitesmoke; overflow: hidden; }

.m-slider { position: relative; text-align: center; }

.m-slider__el { height: 655px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; line-height: 540px; }

.m-slider__middle { display: inline-block; vertical-align: middle; color: white; }

.m-slider__title { max-width: 800px; border-bottom: 2px solid #f3faec; font-size: 82px; line-height: 1.1; }

.m-slider__title-sub { padding-top: 10px; font-size: 24px; line-height: 1.2; }

.m-slider__arr { position: absolute; bottom: 0; left: 50%; width: 1920px; height: 300px; margin-left: -960px; background: url(../img/arr-white.png) no-repeat 0 0; z-index: 500; }

.m-slider__prev, .m-slider__next { position: absolute; top: 180px; }

.m-slider__next { right: 50%; margin-right: -540px; background: url('../img/icons-sbff4c5b0ab.png') 0 -1070px no-repeat; width: 80px; height: 153px; }

.m-slider__prev { left: 50%; margin-left: -540px; background: url('../img/icons-sbff4c5b0ab.png') 0 -907px no-repeat; width: 80px; height: 153px; }
