@font-face { font-family: "Gotham-Medium"; src: url("../fonts/Gotham-Medium.eot"); src: url("../fonts/Gotham-Medium.eot") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff") format("woff"); }

@font-face { font-family: "Gotham-XLightItalic"; src: url("../fonts/Gotham-XLightItalic.eot"); src: url("../fonts/Gotham-XLightItalic.eot") format("embedded-opentype"), url("../fonts/Gotham-XLightItalic.woff") format("woff"); }

@font-face { font-family: "Gotham-Book"; src: url("../fonts/Gotham-Book.eot"); src: url("../fonts/Gotham-Book.eot") format("embedded-opentype"), url("../fonts/Gotham-Book.woff") format("woff"); }

@font-face { font-family: "Gotham-Narrow"; src: url("../fonts/Gotham-Narrow.eot"); src: url("../fonts/Gotham-Narrow.eot") format("embedded-opentype"), url("../fonts/Gotham-Narrow.woff") format("woff"); }

.slider-wrap { position: relative; }

.slider-main { overflow: hidden; }

.slider { width: 3000px; }

.slider__item { float: left; margin-right: 7px; width: 210px; }
.slider__item img { display: block; margin: 0 auto; max-width: 100%; height: auto; }

.slider__info { padding-top: 13px; text-align: center; font-family: "Gotham-Book", Arial, Tahoma, sans-serif; color: #605b5b; }
.slider__info strong { display: block; margin-bottom: 3px; font-weight: normal; font-family: "Gotham-Medium", Arial, Tahoma, sans-serif; }
.slider__info span { display: block; margin-bottom: 11px; }

.slider-nav { position: absolute; top: 130px; }

<<<<<<< HEAD
.slider-nav_prev { left: -130px; background: url('../img/icons-s28585e5ee0.png') 0 -485px no-repeat; width: 47px; height: 90px; }

.slider-nav_next { right: -130px; background: url('../img/icons-s28585e5ee0.png') 0 -585px no-repeat; width: 47px; height: 90px; }
=======
.slider-nav_prev { left: -130px; background: url('../img/icons-se86d4bb36d.png') 0 -383px no-repeat; width: 47px; height: 90px; }

.slider-nav_next { right: -130px; background: url('../img/icons-se86d4bb36d.png') 0 -483px no-repeat; width: 47px; height: 90px; }
>>>>>>> bf4e9d788231eff9dbd38deff0be8aea49019efd

.gallery { position: relative; float: left; margin-bottom: 9px; padding-left: 10px; width: 625px; }
.gallery:before, .gallery:after { content: ""; display: table; }
.gallery:after { clear: both; }

.gallery__img { overflow: hidden; }
.gallery__img img { display: block; max-width: 100%; height: auto; }

.gallery__preview { position: absolute; top: 0; right: 0; bottom: 0; }
.gallery__preview a { position: relative; display: block; width: 70px; height: 70px; margin-bottom: 1px; box-shadow: 0 0 0 1px white; }
.gallery__preview a:hover:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; -moz-box-sizing: border-box; box-sizing: border-box; border: 3px solid #e9af6e; }
.gallery__preview img { display: block; max-width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; height: auto; }

.item-info { float: right; margin-top: -8px; width: 395px; color: #3e3e3e; }

.item-info__title { margin-bottom: 7px; font-family: "Gotham-Medium", Arial, Tahoma, sans-serif; font-size: 25px; }

.item-info__name { float: left; }
.item-info__name a { display: inline-block; line-height: 1; border-bottom: 2px solid #d9d9d9; }

.item-info__share { float: right; }

.item-info__price { margin-top: 16px; font-size: 48px; }

.item-info__price-meta { margin-bottom: 23px; font-family: "Gotham-XLightItalic", Arial, Tahoma, sans-serif; font-size: 11px; }

.item-info__main { width: 300px; }
.item-info__main .to-basket { margin: 19px 0 34px; }

.item-info__action { margin-bottom: 24px; }

<<<<<<< HEAD
.to-basket { position: relative; display: block; padding-left: 27px; height: 70px; line-height: 64px; -moz-box-sizing: border-box; box-sizing: border-box; background: #f1cda4; font-size: 14px; border: 4px solid #e9af6e; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.to-basket:hover { background: #dfe6d4; border-color: #b3bda4; }
.to-basket:after { content: ""; position: absolute; top: 50%; right: 24px; margin-top: -11px; background: url('../img/icons-s28585e5ee0.png') 0 -685px no-repeat; width: 25px; height: 22px; }

.to-wishlist { position: relative; display: block; margin: 1px 0; padding-left: 30px; height: 35px; line-height: 35px; background: #d8d8d8; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 11px; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.to-wishlist:hover { background: #dfe6d4; }
.to-wishlist:after { content: ""; position: absolute; top: 50%; right: 29px; margin-top: -7px; background: url('../img/icons-s28585e5ee0.png') 0 -1592px no-repeat; width: 13px; height: 13px; }

.free-delivery { position: relative; display: block; margin: 1px 0; padding-right: 50px; height: 35px; line-height: 35px; background: #dfe6d4; -moz-box-sizing: border-box; box-sizing: border-box; text-align: right; font-size: 11px; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.free-delivery:hover { background: #f1cda4; }
.free-delivery:before { content: ""; position: absolute; top: 50%; left: 30px; margin-top: -9px; background: url('../img/icons-s28585e5ee0.png') 0 -1369px no-repeat; width: 23px; height: 18px; }
=======
.to-basket { position: relative; display: block; padding-left: 27px; height: 70px; line-height: 64px; -moz-box-sizing: border-box; box-sizing: border-box; background: #f1cda4; font-size: 14px; border: 4px solid #e9af6e; }
.to-basket:after { content: ""; position: absolute; top: 50%; right: 24px; margin-top: -11px; background: url('../img/icons-se86d4bb36d.png') 0 -583px no-repeat; width: 25px; height: 22px; }

.to-wishlist { position: relative; display: block; margin: 1px 0; padding-left: 30px; height: 35px; line-height: 35px; background: #d8d8d8; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 11px; }
.to-wishlist:after { content: ""; position: absolute; top: 50%; right: 29px; margin-top: -7px; background: url('../img/icons-se86d4bb36d.png') 0 -1463px no-repeat; width: 13px; height: 13px; }

.free-delivery { position: relative; display: block; margin: 1px 0; padding-right: 50px; height: 35px; line-height: 35px; background: #dfe6d4; -moz-box-sizing: border-box; box-sizing: border-box; text-align: right; font-size: 11px; }
.free-delivery:before { content: ""; position: absolute; top: 50%; left: 30px; margin-top: -9px; background: url('../img/icons-se86d4bb36d.png') 0 -1267px no-repeat; width: 23px; height: 18px; }
>>>>>>> bf4e9d788231eff9dbd38deff0be8aea49019efd

.share-now { margin-bottom: 30px; text-align: center; }
.share-now span { display: block; margin-bottom: 6px; font-size: 11px; }
.share-now a { display: inline-block; width: 72px; height: 45px; line-height: 45px; text-align: center; background: #373737; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.share-now i { display: inline-block; vertical-align: middle; }

<<<<<<< HEAD
.share-now__fb:hover { background: #1d5a93; }
.share-now__fb i { background: url('../img/icons-s28585e5ee0.png') 0 -1426px no-repeat; width: 9px; height: 19px; }

.share-now__tw:hover { background: #b0e3e9; }
.share-now__tw i { background: url('../img/icons-s28585e5ee0.png') 0 -827px no-repeat; width: 19px; height: 16px; }

.share-now__pi:hover { background: #e90e0e; }
.share-now__pi i { background: url('../img/icons-s28585e5ee0.png') 0 -772px no-repeat; width: 15px; height: 19px; }

.share-now__em:hover { background: #dae2cf; }
.share-now__em i { background: url('../img/icons-s28585e5ee0.png') 0 -801px no-repeat; width: 22px; height: 16px; }
=======
.share-now__fb i { background: url('../img/icons-se86d4bb36d.png') 0 -1324px no-repeat; width: 9px; height: 19px; }

.share-now__tw i { background: url('../img/icons-se86d4bb36d.png') 0 -725px no-repeat; width: 19px; height: 16px; }

.share-now__pi i { background: url('../img/icons-se86d4bb36d.png') 0 -670px no-repeat; width: 15px; height: 19px; }

.share-now__em i { background: url('../img/icons-se86d4bb36d.png') 0 -699px no-repeat; width: 22px; height: 16px; }
>>>>>>> bf4e9d788231eff9dbd38deff0be8aea49019efd

.tab-wrap { width: 393px; }

.tab { font-size: 0; }
.tab li { display: inline-block; width: 33.3%; height: 30px; text-align: center; line-height: 30px; font-size: 11px; background: #dadada; -moz-box-sizing: border-box; box-sizing: border-box; box-shadow: -2px 0 0 #e3e3e3; }
.tab li:first-child { box-shadow: none; }
.tab a { display: block; }
.tab .is-active { background: #e7e7e7; }

.tab-cont { padding: 11px 10px 29px 20px; font-size: 11px; background: #e7e7e7; }
.tab-cont p { margin-bottom: 16px; }
.tab-cont ul:before, .tab-cont ul:after { content: ""; display: table; }
.tab-cont ul:after { clear: both; }
.tab-cont li { position: relative; float: left; margin-bottom: 3px; padding-left: 22px; width: 50%; -moz-box-sizing: border-box; box-sizing: border-box; }
<<<<<<< HEAD
.tab-cont li:after { content: ""; position: absolute; left: 4px; top: 2px; background: url('../img/icons-s28585e5ee0.png') 0 -1534px no-repeat; width: 8px; height: 8px; }

.item-wrap { margin-right: -30px; font-size: 0; }

.item { position: relative; display: inline-block; margin: 86px 27px 0 0; width: 250px; height: 400px; vertical-align: middle; font-size: 14px; -moz-box-sizing: border-box; box-sizing: border-box; }

.item__wrap { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.item__wrap:hover { top: -7px; left: -15px; right: -15px; bottom: -23px; background: #dfe6d4; border: 4px solid #dfe6d4; border-top-width: 7px; border-radius: 4px; overflow: hidden; box-shadow: 0 0 6px rgba(0, 0, 0, 0.4); }
.item__wrap:hover .item__info { display: none; }
.item__wrap:hover:before, .item__wrap:hover:after { content: ""; position: absolute; }
.item__wrap:hover:before { right: -1px; top: -1px; width: 0px; height: 0px; border-style: solid; border-width: 0 27px 27px 0; border-color: transparent #dfe6d4 transparent transparent; }
.item__wrap:hover:after { top: 0; right: 0; background: url('../img/icons-s28585e5ee0.png') 0 -1498px no-repeat; width: 11px; height: 10px; }
.item__wrap:hover img { width: 280px; height: auto; }
.item__wrap:hover .item__actions { display: block; }

.item__info { padding-top: 13px; text-align: center; font-family: "Gotham-Book", Arial, Tahoma, sans-serif; color: #605b5b; }
.item__info strong { display: block; margin-bottom: 3px; font-weight: normal; font-family: "Gotham-Medium", Arial, Tahoma, sans-serif; }
.item__info span { display: block; margin-bottom: 11px; }

.item__img { display: block; overflow: hidden; height: 310px; line-height: 310px; text-align: center; }
.item__img img { width: 250px; }

.item__actions { position: relative; display: none; padding: 39px 0 0 20px; font-size: 0; }
.item__actions .select_s, .item__actions .input-plus { display: inline-block; vertical-align: middle; width: 60px; margin-right: 4px; }
.item__actions .input-plus { position: relative; }
.item__actions .input-plus .btn-add { position: absolute; right: 11px; top: 9px; }

.item__info-text { display: inline-block; vertical-align: middle; margin-right: 10px; font-size: 14px; font-family: "Gotham-Book", Arial, Tahoma, sans-serif; }
.item__info-text strong { font-weight: normal; font-family: "Gotham-Medium", Arial, Tahoma, sans-serif; }
.item__info-text + .item__to-basket { float: right; margin-right: 14px; }

.item__share { position: absolute; top: -50px; left: 0; right: 0; padding-left: 15px; height: 50px; line-height: 50px; background: white; background: rgba(255, 255, 255, 0.9); }
.item__share .share-wrap { display: inline-block; vertical-align: middle; }
.item__share .share-wrap img { width: auto; height: auto; }

.share-wrap .select_s { height: 20px; width: 60px; margin-right: 6px; display: inline-block; vertical-align: middle; }
.share-wrap .select_s:after { top: 7px; right: 4px; }
.share-wrap .select__text { height: 18px; line-height: 18px; font-size: 8px; padding-left: 5px; }
.share-wrap img { width: auto; height: auto; display: inline-block; vertical-align: middle; }

.select_s { border-width: 1px; }
.select_s:after { background: url('../img/icons-s28585e5ee0.png') 0 -1518px no-repeat; width: 10px; height: 6px; top: 12px; }

.input_s { border-width: 1px; background: transparent; }

.item__to-basket { display: inline-block; vertical-align: middle; width: 42px; height: 42px; line-height: 42px; text-align: center; border: 4px solid #b7c0a9; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.item__to-basket i { display: inline-block; vertical-align: middle; background: url('../img/icons-s28585e5ee0.png') 0 -945px no-repeat; width: 16px; height: 15px; }
.item__to-basket:hover { background: #f1cda4; border-color: #e9af6e; }

.item__link { text-align: center; font-size: 10px; }
.item__link a { text-decoration: underline; }

.pagin { margin: 28px 0 0; text-align: center; font-size: 0; }
.pagin a { display: inline-block; margin-left: 1px; width: 40px; height: 40px; font-size: 14px; line-height: 40px; text-align: center; color: white; background: #605b5b; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.pagin a:first-child { margin-left: 0; }
.pagin a:hover, .pagin a.is-active { background: #dfe6d4; }

.filter { margin: 21px 0 0; font-size: 0; }
.filter:before, .filter:after { content: ""; display: table; }
.filter:after { clear: both; }
.filter .select, .filter .filter__search { display: inline-block; vertical-align: middle; margin-right: 6px; width: 125px; }

.filter__nav { float: right; font-size: 12px; }
.filter__nav div { display: inline-block; vertical-align: middle; margin: 10px 0 0 30px; }
.filter__nav div:first-child { margin-left: 0; }
.filter__nav a { display: inline-block; margin-left: 20px; position: relative; }
.filter__nav a:first-child { margin-left: 0; }
.filter__nav a:first-child:before { display: none; }
.filter__nav a:before { content: ""; position: absolute; left: -10px; top: 0; height: 15px; width: 1px; background: #605b5b; }

.filter__search { position: relative; margin-left: 17px; }
.filter__search:after { content: ""; position: absolute; top: 5px; right: 11px; background: url('../img/icons-s28585e5ee0.png') 0 -125px no-repeat; width: 13px; height: 13px; }
.filter__search input { display: block; padding-right: 30px; height: 30px; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 11px; width: 100%; border-bottom: 1px solid #605b5b; text-transform: uppercase; }
.filter__search input.placeholder { color: #605b5b; }
.filter__search input:-moz-placeholder { color: #605b5b; }
.filter__search input::-webkit-input-placeholder { color: #605b5b; }

.banner img { display: block; }

.overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000; background: #605b5b; }

.popup { position: absolute; width: 1080px; top: 100px; left: 50%; z-index: 2000; padding: 43px 0 70px; margin-left: -540px; background: white; }
.popup .gallery { padding-left: 50px; width: 600px; -moz-box-sizing: border-box; box-sizing: border-box; }
.popup .item-info { padding-right: 10px; }
.popup .gallery__prev, .popup .gallery__next { position: absolute; top: 50%; margin-top: -76px; }
.popup .gallery__prev { left: -120px; background: url('../img/icons-s28585e5ee0.png') 0 -1020px no-repeat; width: 80px; height: 153px; }
.popup .gallery__next { right: -120px; background: url('../img/icons-s28585e5ee0.png') 0 -1183px no-repeat; width: 80px; height: 153px; }

.popup__close { position: absolute; top: 9px; right: 9px; background: url('../img/icons-s28585e5ee0.png') 0 -1479px no-repeat; width: 9px; height: 9px; }

.popup__link { position: absolute; right: 10px; bottom: 15px; font-size: 12px; text-decoration: underline; }
=======
.tab-cont li:after { content: ""; position: absolute; left: 4px; top: 2px; background: url('../img/icons-se86d4bb36d.png') 0 -1405px no-repeat; width: 8px; height: 8px; }
>>>>>>> bf4e9d788231eff9dbd38deff0be8aea49019efd
