@font-face { font-family: "Gotham-Medium"; src: url("../fonts/Gotham-Medium.eot"); src: url("../fonts/Gotham-Medium.eot") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff") format("woff"); }

@font-face { font-family: "Gotham-XLightItalic"; src: url("../fonts/Gotham-XLightItalic.eot"); src: url("../fonts/Gotham-XLightItalic.eot") format("embedded-opentype"), url("../fonts/Gotham-XLightItalic.woff") format("woff"); }

@font-face { font-family: "Gotham-Book"; src: url("../fonts/Gotham-Book.eot"); src: url("../fonts/Gotham-Book.eot") format("embedded-opentype"), url("../fonts/Gotham-Book.woff") format("woff"); }

@font-face { font-family: "Gotham-Narrow"; src: url("../fonts/Gotham-Narrow.eot"); src: url("../fonts/Gotham-Narrow.eot") format("embedded-opentype"), url("../fonts/Gotham-Narrow.woff") format("woff"); }

.slider-wrap { position: relative; }

.slider-main { overflow: hidden; }

.slider { width: 3000px; }

.slider__item { float: left; margin-right: 7px; width: 210px; }
.slider__item img { display: block; margin: 0 auto; max-width: 100%; height: auto; }

.slider__info { padding-top: 13px; text-align: center; font-family: "Gotham-Book", Arial, Tahoma, sans-serif; color: #605b5b; }
.slider__info strong { display: block; margin-bottom: 3px; font-weight: normal; font-family: "Gotham-Medium", Arial, Tahoma, sans-serif; }
.slider__info span { display: block; margin-bottom: 11px; }

.slider-nav { position: absolute; top: 130px; }

.slider-nav_prev { left: -130px; background: url('../img/icons-se86d4bb36d.png') 0 -383px no-repeat; width: 47px; height: 90px; }

.slider-nav_next { right: -130px; background: url('../img/icons-se86d4bb36d.png') 0 -483px no-repeat; width: 47px; height: 90px; }

.gallery { position: relative; float: left; margin-bottom: 9px; padding-left: 10px; width: 625px; }
.gallery:before, .gallery:after { content: ""; display: table; }
.gallery:after { clear: both; }

.gallery__img { overflow: hidden; }
.gallery__img img { display: block; max-width: 100%; height: auto; }

.gallery__preview { position: absolute; top: 0; right: 0; bottom: 0; }
.gallery__preview a { position: relative; display: block; width: 70px; height: 70px; margin-bottom: 1px; box-shadow: 0 0 0 1px white; }
.gallery__preview a:hover:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; -moz-box-sizing: border-box; box-sizing: border-box; border: 3px solid #e9af6e; }
.gallery__preview img { display: block; max-width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; height: auto; }

.item-info { float: right; margin-top: -8px; width: 395px; color: #3e3e3e; }

.item-info__title { margin-bottom: 7px; font-family: "Gotham-Medium", Arial, Tahoma, sans-serif; font-size: 25px; }

.item-info__name { float: left; }
.item-info__name a { display: inline-block; line-height: 1; border-bottom: 2px solid #d9d9d9; }

.item-info__share { float: right; }

.item-info__price { margin-top: 16px; font-size: 48px; }

.item-info__price-meta { margin-bottom: 23px; font-family: "Gotham-XLightItalic", Arial, Tahoma, sans-serif; font-size: 11px; }

.item-info__main { width: 300px; }
.item-info__main .to-basket { margin: 19px 0 34px; }

.item-info__action { margin-bottom: 24px; }

.to-basket { position: relative; display: block; padding-left: 27px; height: 70px; line-height: 64px; -moz-box-sizing: border-box; box-sizing: border-box; background: #f1cda4; font-size: 14px; border: 4px solid #e9af6e; }
.to-basket:after { content: ""; position: absolute; top: 50%; right: 24px; margin-top: -11px; background: url('../img/icons-se86d4bb36d.png') 0 -583px no-repeat; width: 25px; height: 22px; }

.to-wishlist { position: relative; display: block; margin: 1px 0; padding-left: 30px; height: 35px; line-height: 35px; background: #d8d8d8; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 11px; }
.to-wishlist:after { content: ""; position: absolute; top: 50%; right: 29px; margin-top: -7px; background: url('../img/icons-se86d4bb36d.png') 0 -1463px no-repeat; width: 13px; height: 13px; }

.free-delivery { position: relative; display: block; margin: 1px 0; padding-right: 50px; height: 35px; line-height: 35px; background: #dfe6d4; -moz-box-sizing: border-box; box-sizing: border-box; text-align: right; font-size: 11px; }
.free-delivery:before { content: ""; position: absolute; top: 50%; left: 30px; margin-top: -9px; background: url('../img/icons-se86d4bb36d.png') 0 -1267px no-repeat; width: 23px; height: 18px; }

.share-now { margin-bottom: 30px; text-align: center; }
.share-now span { display: block; margin-bottom: 6px; font-size: 11px; }
.share-now a { display: inline-block; width: 72px; height: 45px; line-height: 45px; text-align: center; background: #373737; }
.share-now i { display: inline-block; vertical-align: middle; }

.share-now__fb i { background: url('../img/icons-se86d4bb36d.png') 0 -1324px no-repeat; width: 9px; height: 19px; }

.share-now__tw i { background: url('../img/icons-se86d4bb36d.png') 0 -725px no-repeat; width: 19px; height: 16px; }

.share-now__pi i { background: url('../img/icons-se86d4bb36d.png') 0 -670px no-repeat; width: 15px; height: 19px; }

.share-now__em i { background: url('../img/icons-se86d4bb36d.png') 0 -699px no-repeat; width: 22px; height: 16px; }

.tab-wrap { width: 393px; }

.tab { font-size: 0; }
.tab li { display: inline-block; width: 33.3%; height: 30px; text-align: center; line-height: 30px; font-size: 11px; background: #dadada; -moz-box-sizing: border-box; box-sizing: border-box; box-shadow: -2px 0 0 #e3e3e3; }
.tab li:first-child { box-shadow: none; }
.tab a { display: block; }
.tab .is-active { background: #e7e7e7; }

.tab-cont { padding: 11px 10px 29px 20px; font-size: 11px; background: #e7e7e7; }
.tab-cont p { margin-bottom: 16px; }
.tab-cont ul:before, .tab-cont ul:after { content: ""; display: table; }
.tab-cont ul:after { clear: both; }
.tab-cont li { position: relative; float: left; margin-bottom: 3px; padding-left: 22px; width: 50%; -moz-box-sizing: border-box; box-sizing: border-box; }
.tab-cont li:after { content: ""; position: absolute; left: 4px; top: 2px; background: url('../img/icons-se86d4bb36d.png') 0 -1405px no-repeat; width: 8px; height: 8px; }
